# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments & Secrets
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# OS/System files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Project specific
django_errors.log
staticfiles/
